source https://api.nuget.org/v3/index.json

nuget Microsoft.EntityFrameworkCore 3.1.2
nuget Microsoft.EntityFrameworkCore.Design 3.1.2
nuget Microsoft.EntityFrameworkCore.SqlServer 3.1.2
nuget Microsoft.Extensions.Configuration.Abstractions 3.1.2
nuget Microsoft.Extensions.Configuration.Json 3.1.2
nuget Microsoft.Extensions.DependencyInjection.Abstractions 3.1.2