source https://api.nuget.org/v3/index.json

nuget Dapper
nuget FluentAssertions
nuget Microsoft.Extensions.Configuration.Abstractions
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.NET.Test.Sdk
nuget System.Data.SqlClient
nuget Microsoft.CSharp
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio